<div class="container">
  <br>
  <h1>Pipes</h1>
  <hr/>

  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Variable</th>
        <th scope="col">Pipe</th>
        <th scope="col">Producto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{ name }}</th>
        <td>uppercase</td>
        <td>{{ name | uppercase }}</td>
      </tr>
      <tr>
        <th scope="row">{{ name }}</th>
        <td>lowercase</td>
        <td>{{ name | lowercase }}</td>
      </tr>
      <tr>
        <th scope="row">{{ name }}</th>
        <td>slice:11</td>
        <td>{{ name | slice:11 }}</td>
      </tr>
      <tr>
        <th scope="row">{{ name }}</th>
        <td>slice:8:18</td>
        <td>{{ name | slice:8:18 }}</td>
      </tr>
      <tr>
        <th scope="row">{{ numberArray }}</th>
        <td>slice:1:5</td>
        <td>{{ numberArray | slice:1:5 }}</td>
      </tr>
      <tr>
        <th scope="row">{{ pi }}</th>
        <td>number</td>
        <td>{{ pi | number:'3.0-0' }}</td>
      </tr>
      <tr>
        <th scope="row">{{ pi }}</th>
        <td>number</td>
        <td>{{ pi | number:'1.0-2' }}</td>
      </tr>
      <tr>
        <th scope="row">{{ percentNumber }}</th>
        <td>percent:'2.2-2'</td>
        <td>{{ percentNumber | percent:'2.2-2' }}</td>
      </tr>
      <tr>
        <th scope="row">{{ salary }}</th>
        <td>currency</td>
        <td>{{ salary | currency }}</td>
      </tr>
      <tr>
        <th scope="row">{{ salary }}</th>
        <td>currency:'EUR':true:'4.0-1'</td>
        <td>{{ salary | currency:'EUR':true:'4.0-1' }}</td>
      </tr>
      <tr>
        <th scope="row">{{ salary }}</th>
        <td>currency:'EUR':false:'4.0-1'</td>
        <td>{{ salary | currency:'EUR':false:'4.0-1' }}</td>
      </tr>
      <tr>
        <th scope="row">{{ promiseValue }}</th>
        <td>async</td>
        <td>{{ promiseValue | async }}</td>
      </tr>
      <tr>
        <th scope="row">{{ dateToDisplay }}</th>
        <td>date</td>
        <td>{{ dateToDisplay | date:'short' }}</td>
      </tr>
      <tr>
        <th scope="row">{{ dateToDisplay }}</th>
        <td>date:'YYYY - dd'</td>
        <td>{{ dateToDisplay | date:'MMMM - dd' }}</td>
      </tr>
      <tr>
        <th scope="row">{{ fullName }}</th>
        <td>capitalized</td>
        <td>{{ fullName | capitalized }}</td>
      </tr>
      <tr>
        <th scope="row">{{ fullName }}</th>
        <td>capitalized</td>
        <td>{{ fullName | capitalized:true }}</td>
      </tr>
      <tr>
        <th scope="row">{{ aFakePassword }}</th>
        <td>
          password:visible => {{ visiblePassword }}
          <br/>
          <button type="button" class="btn btn-info" 
            (click)="visiblePassword = !visiblePassword"
            >{{ visiblePassword ? 'Hide' : 'Show' }}</button>
        </td>
        <td>{{ aFakePassword | password:visiblePassword }}</td>
      </tr>
    </tbody>
  </table>
  
  <h4>Slice</h4>
  <ul>
    <!-- The slice only shows the available values or the index 20 -->
    <li *ngFor="let item of numberArray | slice:5:20">{{ item }}</li>
  </ul>

  <h4>JSON</h4>
  <pre>
    {{ musician | json }}
  </pre>

  <h4>YouTube <small>video</small></h4>
  <div style="text-align: center;">
    <iframe width="560" height="315" 
      [src]="videoID | secureDom:'https://www.youtube.com/embed/'" 
      frameborder="0" allowfullscreen
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
    ></iframe>
  </div>
</div>

<router-outlet></router-outlet>