<h1>Resultado de búsqueda <br/><small>{{term}}</small></h1>
<hr>
<div class="media text-muted pt-3 clickable" *ngFor="let musician of searchResults;let i = index;" (click)="seeMusician(musician.id)">
    <img class="bd-placeholder-img mr-2 rounded" width="32" height="32" title="{{musician.name}}" src="{{musician.img}}" />
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">{{musician.name}}
            <small>{{musician.birthDate | date: "dd/MM/yyyy"}}
                <span *ngIf="musician.deathDate != null"> - {{musician.deathDate | date: "dd/MM/yyyy"}}</span>
            </small>
        </strong>
        {{musician.bio}}
    </p>
  </div>